* {
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  justify-content: flex-end;
  z-index: 1;
  color: rgba(255, 255, 255, 0.697);
  width: 40px;
  height: 40px;
  align-items: center;
  background: rgba(0, 0, 0, 0.428);
  flex-direction: row;
  color:#555555;
}
